<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body class="container">
    <h1>Apartments in Dalmatia</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${apartments} and ${apartments.size()}">no apartments yet</p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>

        <tr th:each="apartment : ${apartments}">
            <td th:text="${apartment.name}"></td>
            <td th:text="${apartment.description}"></td>
            <td th:text="${apartment.category?.name}"></td>
        </tr>
    </table>


</body>
</html>